
.Navbar {
    max-width: 550px;
    width: 100%;
    margin: auto;
    top:0;
    height: 60px;
    display:flex;
    justify-content: space-between;
    background: #5265c4;
    border-radius: 0 0 20px 20px;
    box-shadow: 0px 0px 20px 0px rgba(65, 39, 65, 0.47);
  }
  
  .Navbar > .nav-logo {
    font-weight: 400;
    font-size: 21px;
    margin: 15px;
    color: #ffffff;
  }

  .Navbar > .nav-logo > a {
    color: #ffffff;
  }

  .Navbar > .nav-name {
    font-weight: 200;
    font-size: 21px;
    position: fixed;
    margin-left: 300px;
    color: #ffffff;
  }
  
  .Navbar > .nav-items > a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    margin: 15px;
    position: relative;
    opacity: 0.9;
  }
  .Navbar > .nav-logo > .nav-link{
    display: inline-block;
    font-size: 12px;
  }
